div.dcon{
    background-image: none;
    overflow: hidden;
}

div.dcon>div.innercon{
    height:auto;
    margin-bottom: 15px;
}

div.dcon>div.innercon:last-child{
    margin-bottom: 0;
}

div.dcon>div.innercon>div{
    position:relative;
    float:left;
}

div.title{
    width:100%;
}

div[wborder]{
    border:1px solid #767676;
}

div[innerbox]{
    padding:2px 6px;
}

h2.l{
    font-weight: normal;
}

p.l{
    font-size:17px;
    line-height:1.779;
    color:#333;
}

a.btn{
    position: relative;
    float: left;
    margin-top: 5px;
    font-size: 17px;
    padding: 2px 7px;
    margin-bottom: 10px;
}

div.h{
    position: relative;
    float:left;
    width: 100%;
}

div.h>div{
    position:relative;
    float:left;
    width:25%;
    margin-bottom: 16px;
    height:63px;
}

div.infobox>div.icon{
    position:relative;
    float:left;
    margin:4px 8px;
    width:32px;
    height:32px;
    background-repeat: no-repeat;
}

div.infobox>div.text{
    position:relative;
    float:left;
    max-width: 186px;
    text-align: left;
    white-space: normal;
}

div.infobox>div.text>div.innertext{
    font-size:16px;
    color:#444;
}

div[k]{
    right:0px;
}

div.pathbox{
    width:100%;
    text-align: left;
    font-family: "Consolas";
}

div.pathbox>*{
    position:relative;
    width:auto;
    margin:0 5px;
    display: inline-block;
}

div.pathbox>*:first-child{
    margin-left:0;
}

@font-face {
    font-family: "Consolas";
    src: url("font/consola-1.ttf");
}

@media  screen  and ( min-width : 0\0 ) {
    div[k]{
        right:-80%;
    }
}

@media only screen and (max-width:1100px){
    div.h>div{
        width:33.3%;
    }

    div.infobox>div.text{
        max-width:192px
    }
}

@media only screen and (max-width:840px){
    div.h>div{
        width:50%;
        height:96px;
    }

    div.infobox>div.text{
        max-width:160px
    }
}

@media only screen and (max-width:490px){
    div.h>div{
        width:50%;
        height:96px;
    }

    div.infobox>div.text{
        max-width:140px
    }
}